# Configuração do kind cluster
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraPortMappings:
  # Zabbix Web
  - containerPort: 30080
    hostPort: 30080
    protocol: TCP
  # Grafana
  - containerPort: 30300
    hostPort: 30300
    protocol: TCP
  # Prometheus
  - containerPort: 30900
    hostPort: 30900
    protocol: TCP
