apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-secret
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: SecretStore
  target:
    name: grafana-secret
    creationPolicy: Owner
  data:
  - secretKey: admin-password
    remoteRef:
      key: grafana
      property: admin-password
  - secretKey: database-password
    remoteRef:
      key: grafana
      property: database-password
