apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prometheus-secret
  namespace: monitoring
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: SecretStore
  target:
    name: prometheus-secret
    creationPolicy: Owner
  data:
  - secretKey: admin-password
    remoteRef:
      key: prometheus
      property: admin-password
