apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  grafana.ini: |
    [server]
    root_url = %(protocol)s://%(domain)s:%(http_port)s/
    
    [security]
    admin_user = admin
    
    [plugins]
    allow_loading_unsigned_plugins = alexanderzobnin-zabbix-app
    
    [database]
    type = sqlite3
    path = /var/lib/grafana/grafana.db
